<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="https://www.mairie-gerardmer.fr/images/2022/10/27/logo_vdg_portrait-01.jpg" alt="Gérardmer" height="50" title="Ville de Gérardmer">
    </a>
    <button class="navbar-toggler me-4" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Accueil</a>
            {% if app.user %}<a href="/event/new" class="nav-item nav-link">Créer un événement</a>{% endif %}
            <a href="/event/list" class="nav-item nav-link">Tous les événements</a>
        </div>
        <div class="nav-item dropdown">
            <a href="{% if app.user %}/profile{% else %}/login{% endif %}" class="nav-link dropdown-toggle btn btn-primary py-4 px-lg-4 rounded-0 d-flex align-items-center gap-1" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle profile-icon h-auto fs-4"></i>
                {% if app.user %}
                    {{ app.user.firstname }} {{ app.user.lastname }}
                {% else %}
                    Votre profil
                {% endif %}
            </a>
            {% if app.user %}
                <div class="dropdown-menu bg-light m-0">
                    <a href="/profile" class="dropdown-item" style="white-space: wrap;">Votre profil</a>
                    <a href="/logout" class="dropdown-item" style="white-space: wrap;">Se déconnecter</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>